<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if title}}
    <title>{{title}} | {{getDomain}} - {{getSlogan}}</title>
    {{else}}
    <title>{{getDomain}} - {{getSlogan}}</title>
    {{/if}}
    <!-- set global css -->

    <!-- set local css -->
    {{#if styles}}
        <link rel="stylesheet" href="{{styles}}">
    {{/if}}
</head>
<body>
    {{{body}}}

    <!-- set global js -->

    <!-- set local js -->
    {{#if scripts}}
        <script src="{{scripts}}"></script>
    {{/if}}
</body>
</html>